* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d6e2f0;
  font-family: "Outfit", sans-serif;
}

.container {
  background-color: #ffffff;
  width: 250px;
  height: auto;
  padding: 15px;
  margin: 120px auto;
  border-radius: 10px;
}
img {
  width: 100%;
  border-radius: 10px;
}

.image {
  margin-bottom: 20px;
}

.heading {
  color: #1f3251;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.content {
  color: #7b879d;
  text-align: center;
  font-size: 14px;
  margin: 10px;
}

.attribution {
  margin-top: 160px;
}
